@import "tailwindcss";

@layer base {
  body {
    background-color: #ffffff;
    color: #0f172a; /* Slate 900 */
    @apply antialiased;
  }

  /* Forzamos que todos los encabezados sean oscuros y usen la fuente Geist */
  h1, h2, h3, h4 {
    color: #0f172a;
    @apply tracking-tight font-bold;
  }
}
