@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Un tono slate oscuro para mejor legibilidad */
}

/* Forzamos el modo claro para que tu portfolio se vea profesional desde el inicio */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
